 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
	
.superman {

	display: inline;

}

.superman img {

	width: 50%;
	height: 400px;
	display: inline;
	float: left;
	

}

.batman {

	
	display: inline;
	height: 400px;


}

.batman img {

	width: 50%;
	height: 400px;
	display: inline;
	float: right;
	

	
	
}

.votosbatman {

	margin-left: 50%;
}

.votosuperman {

	float: left;
}


</style>
</head>
<body>


<div class="superman"> <a href="http://localhost:3000/pages/superman"><img src="<%= asset_path 'superman.jpeg' %>" alt=""></a>

</div>

</div>



<div class="batman"> <a href="http://localhost:3000/pages/batman"><img src="<%= asset_path 'thumb-1920-82331.jpg' %>" alt=""> </a> 

</div>

<div class="votosuperman"><%= form_tag(pages_votos_superman_path) do %>
	<%= text_field_tag "votosuperman", nil, placeholder: "Nombre"  %> <br>
	<%= email_field_tag "votosbatman", nil, placeholder: "Email"  %> <br> 
	<%= submit_tag "Votar" %>

	<div class="notice"> <%= notice %></div>
	
<% end -%>
</div>

<div class="votosbatman"> <%= form_tag(pages_votos_batman_path) do %>
	<%= text_field_tag "name", nil, placeholder: "Nombre"  %> <br>
	<%= email_field_tag "email", nil, placeholder: "Email"  %> <br> 
	<%= submit_tag "Votar" %>
	
<% end -%>










</body>
</html> 